body{
    margin: auto;
    max-width: 1920px;
}

section{
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 0.3em
}

button{
    padding: 0.5em;
    background-color: aqua;
    border-radius: 0.5em;

}

#ladattavakuva{
    max-width: 500px !important;
}